html {
	font-family: 'Open Sans', sans-serif;
}

/* zero as margens da página toda */
html, body {
	margin: 0;
	height: 100%;
	background-color: #fff;
}

header {
	width: 100%;
	height: 52px;
	background-color: #a81b11;
}

h1 {
	margin: 0;
	padding: 5px 0;
	color: #fff;
}

h1::first-letter {
	color: #119ea8;
	background-color: #1b11a8;
	padding: 0 5px;
	margin-left: 5px;
	border-radius: 5px;

}

footer {
	background-color: #222;
	font-size: 75%;
	text-align: center;
	color: #ddd;
	padding-top: 8px;
	padding-bottom: 8px;
}

#container {
	width: 700px;
	height: calc(100% - 129px);
	margin: 0 auto;
}

.tabela-dados {
	border-collapse: collapse;
	width: 95%;
}

.tabela-dados, .tabela-dados tr {
	border: 1px solid #777;
}

.tabela-dados th {
	text-align: left;
}

.tabela-dados th, .tabela-dados td {
	padding: 5px;
}

.tabela-dados thead {
	background-color: #119ea8;
}